<div class="main-container blurry-image"></div>
<div class="mx-auto">
    <div class="transparent">
        <h1 class="text-white my-4">Edit Words</h1>
        <%= render 'form', btn_msg: "Save changes"%>
        <%= link_to "Back", admin_category_words_path(@category), class:"text-white",style:"text-decoration:none" %>
    </div>
</div>