<div class="main-container blurry-image"></div>
<div class="mx-auto">
    <div class="container">
        <%= render "form", title:"Edit", message: "Update your profile", btn_msg:"Save Changes"%>
    </div>
</div>