<div class="main-container blurry-image"></div>
<div class="mx-auto">
    <div class="container">
        <%= render "form", title:"Sign Up", message: "Join us for free", btn_msg:"Create a new account"%>
    </div>
</div>