<div class="main-container blurry-image"></div>
    <div class="mx-auto">
        <div class="transparent">
        <h1 class="text-white pb-2">Administer Categories</h1>
        <%= link_to "New Category", new_admin_category_path, class:"btn3 mb-4"%>
            <table class="mx-auto text-white">
                <thead>
                    <tr>
                        <th class="table-element">Title</th>
                        <th class="table-element">Description</th>
                        <th class="table-element">Settings</th>
                    </tr>
                </thead>
            </table>
            <%= link_to "Back", admin_page_admin_static_page_path(current_user), class:"text-white",style:"text-decoration:none" %>
        </div>
</div>