<div class="main-container blurry-image"></div>
<div class="mx-auto">
    <div class="transparent">
        <h1 class="text-white"><%=@category.title %></h1>
        <button class="btn3 btn-md btn-block mx-auto">New Words</button>
        <%= link_to "Back", admin_categories_path, class:"text-white",style:"text-decoration:none" %>
    </div>
</div>
