@import "bootstrap";
@import "font-awesome";

.main-container{
  background: url('Tokyo.jpeg');
  height: 800px;
  background-size: cover;
}
.blurry-image{
  filter: blur(8px);
  background-position: center;
  background-repeat: no-repeat;
  width:100%;
}
.container{
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  width: 50%;
}
.alert{
  margin:0;
}
.container2{
  background-color: rgba(0,0,0, 0.5);
  color: white;
  position: absolute;
  top: 12%;
  left: 5%;
  text-align: center;
  width: 90%;
  height:95%;
  border:1px solid black;
}
.container3{
  background-color: rgba(225,225,225, 0.1);
  color: white;
  position: absolute;
  top: 12%;
  left: 5%;
  text-align: center;
  width: 90%;
  height:95%;
  border:1px solid rgb(237, 197, 243);
}
.transparent{
  position: absolute;
  top: 12%;
  left: 5%;
  text-align: center;
  width: 90%;
  height:95%;
}
.login-img{
  padding:0;
  width:110px;
  border-radius: 15px; 
}
.img-thumbnail{
  padding: 0;
  width:60%;
  margin:18%;
  border: 1px solid rgb(237, 197, 243);
}
.number{
  padding:20px;
  display:block;
}
.relations{
  border-top: 3px solid white;
  margin:0 20px;
}
.activity{
  background-color:rgba(237, 197, 243, 0.7);
}
.form-control{
  width: 80%;
  display:inline-block;
  float: center;
}
.btn {
  background-color:rgba(230, 93, 250, 0.6);
  color: white;
  font-family: 'Bangers', cursive;
}
.btn:hover, .btn:focus, .btn:active, .btn.active, .open>.dropdown-toggle.btn {
  background-color:rgba(230, 93, 250, 0.4);
  color:rgb(116, 249, 252);
  font-weight: bold;
}
.btn2{
  background-color: rgba(116, 249, 252, 0.4);
  color: white;
  font-family: 'Bangers', cursive;
  border:none;
}
.btn2:hover, .btn2:focus, .btn2:active, .open>.dropdown-toggle.btn2 {
  background-color: rgba(116, 249, 252, 0.3);
  color: rgb(233, 147, 246);
  text-decoration:none;
  font-family: 'Bangers', cursive;
}
.btn3{
  background-color: rgba(0,0,0, 0.4);
  color:white;
  width:200px;
  border: 1px solod white;
}
.btn3:hover, .btn3:focus, .btn3:active, .open>.dropdown-toggle.btn3{
  background-color:rgba(78, 34, 85, 0.4);
  text-decoration: none;
  color:white;
  border: 1px solod white;
} 
.btn4{
  background-color: rgba(0,0,0, 0.6);
  color:white;
  width:120px;
  border: 1px solod white;
}
.btn4:hover, .btn4:focus, .btn4:active, .open>.dropdown-toggle.btn4{
  background-color:rgba(78, 34, 85, 0.6);
  text-decoration: none;
  color:white;
  border: 1px solod white;
} 
.font{
  font-family: 'Bangers', cursive;
}
.navbar-dark .navbar-brand {
  color: navy;
  font-family: 'Bangers', cursive;
}
.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover {
  color:white !important;
}

.navbar-dark .collapse .navbar-nav .nav-item .nav-link {
  color: navy;
  font-family: 'Bangers', cursive;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: white !important;
}
.index-image{
  width:90px;
}
.index-text{
  color:white;
  text-decoration: none;
}
.index-text:hover{
  color:rgb(116, 249, 252);
  text-decoration: none;
}
.usercard{
  margin:10px 45px;
  background-color: rgba(255, 255, 255, 0.2);
}
.table-element{
  width: 300px;
}
.wordform{
  width:650px;
  margin: 10px auto;
}
.wordtext{
  font-size:25px;
}
.category-box{
  background-color: rgba(0,0,0, 0.1)
}