<div class="main-container blurry-image"></div>
<div class="mx-auto">
    <div class="transparent">
            <h1 class="pt-4 text-white">Administration</h1>
        <div class="my-5">
            <button class="btn3 btn-lg">Categories</button>
            <p class="text-white pt-2">You can change the categories, desc-riptions, words, answers and choices.</p>
        </div>
        <div class="my-5">
            <button class="btn3 btn-lg">Users</button>
            <p class="text-white pt-2">You can add or remove the administ-ration to users.</p>
        </div>
    </div>
</div>