
<nav class="navbar navbar-dark"  style="background-color:#e65dfa;">
  <span class="navbar-text">
    E-learning System © Seika Hashimoto
  </span>
  <span class="navbar-text">
    Users Log In
  </span>
</nav>